/*

Add style overrides here

*/

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.3rem;
}

h5 {
  font-size: 1.15rem;
}

#td-cover-block-0 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.td-navbar {
  background: #fff !important;
  .navbar-brand {
    color: #aaa;
  }
}

.td-search {
  .td-search__icon {
    color: #797676;
  }

  .td-search__input {
    color: #aaa;
    border: 1px solid #ccc;
    ::placeholder {
      color: #aaa;
    }
  }
}

.td-navbar-cover {
  .nav-link {
    text-shadow: none;
  }
}

.navbar-dark .navbar-nav .nav-link {
  color: #aaa;

  .active {
    color: #888;
  }

  :hover {
    color: #888;
  }
}

.feedback--title {
  margin-top: 3rem;
  font-size: 1.2rem;
}
