{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Trustgrid Management API"
  },
  "schemes": [
    "https"
  ],
  "host": "api.trustgrid.io",
  "paths": {
    "/alert": {
      "get": {
        "description": "List events, newest first\n\n---\n\nRequires `alerts::read` permission.",
        "parameters": [
          {
            "description": "Cursor returned from previous request",
            "in": "query",
            "name": "timestamp",
            "type": "number"
          },
          {
            "description": "Limit number of alerts to return",
            "in": "query",
            "name": "limit",
            "type": "number"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "items": {
                "$ref": "#/definitions/Alert"
              },
              "type": "array"
            }
          }
        },
        "tags": [
          "Alerts"
        ]
      }
    },
    "/alert/{nodeID}": {
      "get": {
        "description": "List events for a node, newest first\n\n---\n\nRequires `alerts::read` permission.",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "items": {
                "$ref": "#/definitions/Alert"
              },
              "type": "array"
            }
          }
        },
        "tags": [
          "Alerts"
        ]
      },
      "parameters": [
        {
          "description": "Node ID",
          "in": "path",
          "name": "nodeID",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/audit/download/config": {
      "get": {
        "description": "Download configuration change audits\n\n---\n\nRequires `audits::read:config` permission.",
        "parameters": [
          {
            "description": "ID for the item to audit. If specified, must include itemType.",
            "in": "query",
            "name": "itemID",
            "type": "string"
          },
          {
            "description": "Type of item to audit, e.g., Node or Cluster. If specified, must include itemID",
            "in": "query",
            "name": "itemType",
            "type": "string"
          }
        ],
        "produces": [
          "text/csv"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Audit"
        ]
      }
    },
    "/audit/download/node": {
      "get": {
        "description": "Download node audits\n\n---\n\nRequires `audits::read:node` permission.",
        "parameters": [
          {
            "description": "Cursor returned from the previous request",
            "in": "query",
            "name": "timestamp",
            "type": "string"
          },
          {
            "description": "Node FQDN",
            "in": "query",
            "name": "FQDN",
            "type": "string"
          }
        ],
        "produces": [
          "text/csv"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Audit"
        ]
      }
    },
    "/audit/download/user": {
      "get": {
        "description": "Download authentication audits\n\n---\n\nRequires `audits::read:user` permission.",
        "produces": [
          "text/csv"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Audit"
        ]
      }
    },
    "/audit/tail/config": {
      "get": {
        "description": "List configuration change audits\n\n---\n\nRequires `audits::read:config` permission.",
        "parameters": [
          {
            "description": "Cursor returned from the previous request",
            "in": "query",
            "name": "timestamp",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "items": {
                "description": "ConfigChange",
                "properties": {
                  "auditType": {
                    "description": "Type of change",
                    "enum": [
                      "change",
                      "create",
                      "delete",
                      "action"
                    ],
                    "type": "object"
                  },
                  "ip": {
                    "description": "IP address of the client that initiated the change",
                    "example": "44.44.44.44",
                    "type": "object"
                  },
                  "itemId": {
                    "description": "Unique ID of the item that was changed",
                    "example": "f090da17-9848-4443-a811-34d26e36e309",
                    "type": "object"
                  },
                  "itemType": {
                    "description": "Type of the item that was changed",
                    "example": "Node",
                    "type": "object"
                  },
                  "message": {
                    "description": "Message describing the change",
                    "example": "Node license created",
                    "type": "object"
                  },
                  "timestamp": {
                    "description": "Unix timestamp when the change happened",
                    "example": 1678655517,
                    "type": "object"
                  },
                  "uid": {
                    "description": "Unique ID of the change",
                    "example": "f400c451-6130-49ff-bc2c-7d83a0cb071f",
                    "type": "object"
                  },
                  "userName": {
                    "description": "User name of the client that initiated the change",
                    "example": "admin@trustgrid.io",
                    "type": "object"
                  }
                },
                "type": "object"
              },
              "type": "array"
            }
          }
        },
        "tags": [
          "Audit"
        ]
      }
    },
    "/audit/tail/flow_logs": {
      "get": {
        "description": "List recent flow logs\n\n---\n\nRequires `audits::read:flows` permission.",
        "parameters": [
          {
            "description": "Unix timestamp for the start of the log window",
            "in": "query",
            "name": "sTime",
            "type": "number"
          },
          {
            "description": "Unix timestamp for the end of the log window",
            "in": "query",
            "name": "eTime",
            "type": "number"
          },
          {
            "description": "Comparison operator for the end of the log window",
            "enum": [
              "eq",
              "ne",
              "gt",
              "gte",
              "lt",
              "lte"
            ],
            "in": "query",
            "name": "eTimeOp",
            "type": "string"
          },
          {
            "description": "IP protocol",
            "in": "query",
            "name": "protocol",
            "type": "string"
          },
          {
            "description": "Source IP address",
            "in": "query",
            "name": "srcIp",
            "type": "string"
          },
          {
            "description": "Destination IP address",
            "in": "query",
            "name": "dstIp",
            "type": "string"
          },
          {
            "description": "Source port",
            "in": "query",
            "name": "srcPort",
            "type": "number"
          },
          {
            "description": "Comparison operator for the source port",
            "enum": [
              "eq",
              "ne",
              "gt",
              "gte",
              "lt",
              "lte"
            ],
            "in": "query",
            "name": "srcPortOp",
            "type": "string"
          },
          {
            "description": "Destination port",
            "in": "query",
            "name": "dstPort",
            "type": "number"
          },
          {
            "description": "Comparison operator for the dest port",
            "enum": [
              "eq",
              "ne",
              "gt",
              "gte",
              "lt",
              "lte"
            ],
            "in": "query",
            "name": "dstPortOp",
            "type": "string"
          },
          {
            "description": "Maximum number of results to return",
            "in": "query",
            "name": "limit",
            "type": "number"
          },
          {
            "description": "Source node name",
            "in": "query",
            "name": "srcNode",
            "type": "string"
          },
          {
            "description": "Dest node name",
            "in": "query",
            "name": "dstNode",
            "type": "string"
          },
          {
            "description": "Flow logging node ID",
            "in": "query",
            "name": "node",
            "type": "string"
          },
          {
            "description": "When true, newer flow logs will be listed first",
            "in": "query",
            "name": "reverse",
            "type": "boolean"
          },
          {
            "description": "If provided, a flow must match at least one of the TCP flags provided. Decimal encoded, see flow log TCP flag encoding.",
            "in": "query",
            "items": {
              "items": {
                "example": [
                  1,
                  2
                ],
                "items": {
                  "description": "tcpFlags",
                  "type": "number"
                },
                "type": "array"
              }
            },
            "name": "tcpFlags",
            "type": "array"
          },
          {
            "description": "Continuation cursor from previous query",
            "in": "query",
            "name": "cursor",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "x-cursor": {
                "description": "Continuation cursor for the next query",
                "type": "string"
              }
            },
            "schema": {
              "items": {
                "description": "FlowLog",
                "properties": {
                  "activityID": {
                    "description": "Threat Intelligence activity ID",
                    "example": "400fa255-2586-4586-8013-9f2934770393",
                    "type": "object"
                  },
                  "destBytes": {
                    "description": "Destination bytes transferred",
                    "example": 100,
                    "type": "number"
                  },
                  "destIP": {
                    "description": "Destination IP address",
                    "example": "1.1.1.1",
                    "type": "object"
                  },
                  "destNode": {
                    "description": "Destination node name",
                    "example": "mynode",
                    "type": "object"
                  },
                  "destPort": {
                    "description": "Destination port",
                    "example": 1234,
                    "type": "number"
                  },
                  "endTime": {
                    "description": "Start time of the flow",
                    "example": "2022-11-01T22:46:02.730Z",
                    "type": "object"
                  },
                  "protocol": {
                    "description": "Protocol",
                    "enum": [
                      "TCP",
                      "UDP",
                      "ICMP",
                      "UNKNOWN"
                    ],
                    "example": "TCP",
                    "type": "object"
                  },
                  "sourceBytes": {
                    "description": "Source bytes transferred",
                    "example": 100,
                    "type": "number"
                  },
                  "sourceIP": {
                    "description": "Source IP address",
                    "example": "2.2.2.2",
                    "type": "object"
                  },
                  "sourceNode": {
                    "description": "Source node name",
                    "example": "mynode",
                    "type": "object"
                  },
                  "sourcePort": {
                    "description": "Source port",
                    "example": 1234,
                    "type": "number"
                  },
                  "startTime": {
                    "description": "Start time of the flow",
                    "example": "2022-11-01T22:46:01.765Z",
                    "type": "object"
                  },
                  "tcpFlags": {
                    "description": "TCP Flags encoded in hex:\n* 0x01 - FIN\n* 0x02 - SYN\n* 0x04 - RST\n* 0x08 - PSH\n* 0x10 - ACK\n* 0x20 - URG",
                    "example": "00100001",
                    "type": "object"
                  },
                  "ztnaAppID": {
                    "description": "ZTNA application ID",
                    "example": "400fa255-2586-4586-8013-9f2934770393",
                    "type": "object"
                  },
                  "ztnaSessionID": {
                    "description": "ZTNA application ID",
                    "example": "400fa255-2586-4586-8013-9f2934770393",
                    "type": "object"
                  }
                },
                "type": "object"
              },
              "type": "array"
            }
          }
        },
        "tags": [
          "Audit"
        ]
      }
    },
    "/audit/tail/node": {
      "get": {
        "description": "List node audits\n\n---\n\nRequires `audits::read:node` permission.",
        "parameters": [
          {
            "description": "Cursor returned from the previous request",
            "in": "query",
            "name": "timestamp",
            "type": "string"
          },
          {
            "description": "Node FQDN",
            "in": "query",
            "name": "FQDN",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Audit"
        ]
      }
    },
    "/audit/tail/user": {
      "get": {
        "description": "List authentication audits\n\n---\n\nRequires `audits::read:user` permission.",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Audit"
        ]
      }
    },
    "/cluster": {
      "get": {
        "description": "Get all clusters",
        "parameters": [
          {
            "description": "If specified, the nodes will return with their associated configuration.",
            "in": "query",
            "name": "withConfig",
            "required": false,
            "type": "boolean"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "items": {
                "$ref": "#/definitions/ClusterModel"
              },
              "type": "array"
            }
          }
        },
        "tags": [
          "Cluster"
        ]
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Create a cluster\n",
        "parameters": [
          {
            "in": "body",
            "name": "cluster",
            "schema": {
              "$ref": "#/definitions/CreateClusterModel"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "422": {
            "description": "Validation error",
            "schema": {
              "$ref": "#/definitions/ValidationFailed"
            }
          }
        },
        "tags": [
          "Cluster"
        ]
      }
    },
    "/cluster/{clusterFQDN}": {
      "delete": {
        "description": "Delete a cluster",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "422": {
            "description": "Validation error",
            "schema": {
              "$ref": "#/definitions/ValidationFailed"
            }
          }
        },
        "tags": [
          "Cluster"
        ]
      },
      "get": {
        "description": "Get a cluster",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ClusterModel"
            }
          },
          "404": {
            "description": "Cluster not found"
          }
        },
        "tags": [
          "Cluster"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/clusterFQDN"
        }
      ],
      "put": {
        "consumes": [
          "application/json"
        ],
        "description": "Update a cluster",
        "parameters": [
          {
            "in": "body",
            "name": "ClusterModel",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ClusterModel"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "422": {
            "description": "Validation error",
            "schema": {
              "$ref": "#/definitions/ValidationFailed"
            }
          }
        },
        "tags": [
          "Cluster"
        ]
      }
    },
    "/cluster/{clusterFQDN}/active/{nodeID}": {
      "parameters": [
        {
          "$ref": "#/parameters/clusterFQDN"
        },
        {
          "$ref": "#/parameters/nodeID"
        }
      ],
      "put": {
        "consumes": [
          "application/json"
        ],
        "description": "Designate the specified node as the active cluster member\n",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "422": {
            "description": "Validation error",
            "schema": {
              "$ref": "#/definitions/ValidationFailed"
            }
          }
        },
        "tags": [
          "Cluster"
        ]
      }
    },
    "/cluster/{clusterFQDN}/config/connectors": {
      "parameters": [
        {
          "$ref": "#/parameters/clusterFQDN"
        }
      ],
      "put": {
        "consumes": [
          "application/json"
        ],
        "description": "Update connectors configuration for a given cluster\n\n---\n\nNote: request body will be validated by JSON schema of the plugin\n",
        "parameters": [
          {
            "description": "Config body",
            "in": "body",
            "name": "config",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "422": {
            "description": "Validation error",
            "schema": {
              "$ref": "#/definitions/ValidationFailed"
            }
          }
        },
        "tags": [
          "Cluster"
        ]
      }
    },
    "/cluster/{clusterFQDN}/config/network": {
      "parameters": [
        {
          "$ref": "#/parameters/clusterFQDN"
        }
      ],
      "put": {
        "consumes": [
          "application/json"
        ],
        "description": "Update network configuration for a given cluster\n\n---\n\nRequires `node::configure:network` permissions\n",
        "parameters": [
          {
            "description": "Network Config",
            "in": "body",
            "name": "config",
            "required": true,
            "schema": {
              "properties": {
                "acls": {
                  "items": {
                    "properties": {
                      "action": {
                        "enum": [
                          "allow",
                          "drop",
                          "reject"
                        ],
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "dest": {
                        "description": "Destination IP CIDR",
                        "type": "string"
                      },
                      "line": {
                        "description": "Line number",
                        "maximum": 32768,
                        "minimum": 1,
                        "type": "number"
                      },
                      "ports": {
                        "description": "Port or port range",
                        "type": "string"
                      },
                      "protocol": {
                        "enum": [
                          "any",
                          "icmp",
                          "tcp",
                          "udp"
                        ],
                        "type": "string"
                      },
                      "source": {
                        "description": "Source IP CIDR",
                        "type": "string"
                      }
                    },
                    "required": [
                      "protocol",
                      "source",
                      "dest",
                      "action"
                    ],
                    "type": "object"
                  },
                  "type": "array"
                },
                "darkMode": {
                  "type": "boolean"
                },
                "forwarding": {
                  "type": "boolean"
                },
                "interfaces": {
                  "items": {
                    "properties": {
                      "cloudRoutes": {
                        "items": {
                          "properties": {
                            "description": {
                              "description": "Route description",
                              "example": "My route",
                              "type": "string"
                            },
                            "route": {
                              "description": "Route CIDR",
                              "example": "192.168.10.0/24",
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "type": "array"
                      },
                      "clusterIP": {
                        "description": "Cluster IP",
                        "type": "string"
                      },
                      "clusterRouteTables": {
                        "items": {
                          "description": "Cluster route tables",
                          "type": "string"
                        },
                        "type": "array"
                      },
                      "clusterRoutes": {
                        "items": {
                          "description": "Cluster routes",
                          "properties": {
                            "description": {
                              "description": "Route description",
                              "example": "My route",
                              "type": "string"
                            },
                            "route": {
                              "description": "Route CIDR",
                              "example": "192.168.10.0/24",
                              "type": "string"
                            }
                          },
                          "required": [
                            "route"
                          ],
                          "type": "object"
                        },
                        "type": "array"
                      },
                      "description": {
                        "description": "Interface description",
                        "example": "My interface",
                        "type": "string"
                      },
                      "dhcp": {
                        "default": false,
                        "description": "Enable DHCP",
                        "example": false,
                        "type": "boolean"
                      },
                      "dhcpPool": {
                        "description": "DHCP pool",
                        "type": "string"
                      },
                      "dns": {
                        "items": {
                          "description": "DNS servers",
                          "type": "string"
                        },
                        "type": "array"
                      },
                      "duplex": {
                        "description": "Interface duplex",
                        "enum": [
                          "full",
                          "half"
                        ],
                        "type": "string"
                      },
                      "gateway": {
                        "description": "Gateway IP",
                        "type": "string"
                      },
                      "ip": {
                        "description": "Interface IP",
                        "type": "string"
                      },
                      "mode": {
                        "description": "Interface mode",
                        "enum": [
                          "auto",
                          "manual"
                        ],
                        "type": "string"
                      },
                      "mtu": {
                        "description": "MTU",
                        "example": 1500,
                        "maximum": 9001,
                        "minimum": 1300,
                        "type": "number"
                      },
                      "nic": {
                        "description": "Network interface name",
                        "example": "eth0",
                        "type": "string"
                      },
                      "routes": {
                        "items": {
                          "properties": {
                            "description": {
                              "description": "Route description",
                              "example": "My route",
                              "type": "string"
                            },
                            "next": {
                              "description": "Next hop",
                              "example": "192.168.10.10",
                              "type": "string"
                            },
                            "route": {
                              "description": "Route CIDR",
                              "example": "192.168.10.0/24",
                              "type": "string"
                            }
                          },
                          "required": [
                            "route"
                          ],
                          "type": "object"
                        },
                        "type": "array"
                      },
                      "speed": {
                        "description": "Interface speed",
                        "type": "number"
                      },
                      "subInterfaces": {
                        "items": {
                          "properties": {
                            "description": {
                              "description": "Interface description",
                              "example": "My interface",
                              "type": "string"
                            },
                            "ip": {
                              "description": "sub-interface IP",
                              "type": "string"
                            },
                            "routes": {
                              "items": {
                                "properties": {
                                  "description": {
                                    "description": "Route description",
                                    "example": "My route",
                                    "type": "string"
                                  },
                                  "next": {
                                    "description": "Next hop",
                                    "example": "192.168.10.10",
                                    "type": "string"
                                  },
                                  "route": {
                                    "description": "Route CIDR",
                                    "example": "192.168.10.0/24",
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "route"
                                ],
                                "type": "object"
                              },
                              "type": "array"
                            },
                            "vlanID": {
                              "default": 1,
                              "description": "VLAN ID",
                              "example": 1,
                              "maximum": 4094,
                              "minimum": 1,
                              "type": "number"
                            },
                            "vrf": {
                              "description": "VRF name",
                              "example": "default",
                              "type": "string"
                            }
                          },
                          "required": [
                            "vlanID",
                            "ip"
                          ],
                          "type": "object"
                        },
                        "type": "array"
                      },
                      "virtual": {
                        "default": false,
                        "description": "Whether the interface is virtual",
                        "example": false,
                        "type": "boolean"
                      },
                      "vrf": {
                        "description": "VRF name",
                        "example": "default",
                        "type": "string"
                      }
                    },
                    "required": [
                      "nic"
                    ],
                    "type": "object"
                  },
                  "type": "array"
                },
                "nats": {
                  "items": {
                    "properties": {
                      "description": {
                        "description": "NAT description",
                        "type": "string"
                      },
                      "dest": {
                        "description": "NAT destination IP CIDR",
                        "type": "string"
                      },
                      "masquerade": {
                        "type": "boolean"
                      },
                      "source": {
                        "description": "NAT source IP CIDR",
                        "type": "string"
                      },
                      "toDest": {
                        "description": "Translated dest IP CIDR",
                        "type": "string"
                      },
                      "toSource": {
                        "description": "Translated source IP CIDR",
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                },
                "routes": {
                  "items": {
                    "properties": {
                      "description": {
                        "type": "string"
                      },
                      "dest": {
                        "type": "string"
                      },
                      "dev": {
                        "type": "string"
                      },
                      "metric": {
                        "description": "Route metric",
                        "maximum": 200,
                        "minimum": 1,
                        "type": "number"
                      },
                      "via": {
                        "description": "Next hop IP address",
                        "type": "string"
                      }
                    },
                    "required": [
                      "dest"
                    ],
                    "type": "object"
                  },
                  "type": "array"
                },
                "rules": {
                  "items": {
                    "properties": {
                      "action": {
                        "enum": [
                          "accept",
                          "drop",
                          "reject",
                          "forward",
                          "dnat"
                        ],
                        "type": "string"
                      },
                      "description": {
                        "description": "Rule description",
                        "type": "string"
                      },
                      "dest": {
                        "description": "Destination IP CIDR or `public` or `private`",
                        "type": "string"
                      },
                      "dmac": {
                        "description": "DNAT MAC address",
                        "type": "string"
                      },
                      "dnat": {
                        "description": "DNAT IP address",
                        "type": "string"
                      },
                      "iface": {
                        "description": "Interface name",
                        "type": "string"
                      },
                      "in": {
                        "type": "string"
                      },
                      "line": {
                        "description": "Rule number",
                        "maximum": 32768,
                        "minimum": 1,
                        "type": "number"
                      },
                      "ports": {
                        "description": "Port or port range",
                        "type": "string"
                      },
                      "protocol": {
                        "enum": [
                          "any",
                          "icmp",
                          "tcp",
                          "udp"
                        ],
                        "type": "string"
                      },
                      "snat": {
                        "description": "Enable SNAT",
                        "type": "boolean"
                      },
                      "source": {
                        "description": "Source IP CIDR or `public` or `private`",
                        "type": "string"
                      },
                      "vrf": {
                        "description": "VRF name",
                        "type": "string"
                      }
                    },
                    "required": [
                      "protocol",
                      "source",
                      "dest",
                      "action"
                    ],
                    "type": "object"
                  },
                  "type": "array"
                },
                "tunnels": {
                  "items": {
                    "properties": {
                      "description": {
                        "type": "string"
                      },
                      "destination": {
                        "type": "string"
                      },
                      "dpdInterval": {
                        "type": "number"
                      },
                      "dpdRetries": {
                        "type": "number"
                      },
                      "enabled": {
                        "type": "boolean"
                      },
                      "ike": {
                        "enum": [
                          1,
                          2
                        ],
                        "type": "number"
                      },
                      "ikeCipher": {
                        "enum": [
                          "aes128-sha1",
                          "aes128-sha256",
                          "aes256-sha1",
                          "aes256-sha256"
                        ],
                        "type": "string"
                      },
                      "ikeGroup": {
                        "enum": [
                          2,
                          5,
                          14,
                          15,
                          16
                        ],
                        "type": "number"
                      },
                      "ip": {
                        "type": "string"
                      },
                      "ipsecCipher": {
                        "enum": [
                          "aes128-sha1",
                          "aes128-sha256",
                          "aes256-sha1",
                          "aes256-sha256"
                        ],
                        "type": "string"
                      },
                      "localId": {
                        "type": "string"
                      },
                      "mtu": {
                        "maximum": 10000,
                        "minimum": 1000,
                        "type": "number"
                      },
                      "name": {
                        "type": "string"
                      },
                      "networkId": {
                        "type": "string"
                      },
                      "pfs": {
                        "enum": [
                          0,
                          2,
                          5,
                          14,
                          15,
                          16
                        ],
                        "type": "number"
                      },
                      "presharedKey": {
                        "type": "string"
                      },
                      "psk": {
                        "type": "string"
                      },
                      "publicKey": {
                        "type": "string"
                      },
                      "rekeyInterval": {
                        "type": "number"
                      },
                      "remoteId": {
                        "type": "string"
                      },
                      "replayWindow": {
                        "enum": [
                          32,
                          64,
                          128,
                          256,
                          512,
                          1024,
                          2048,
                          4096,
                          8192
                        ],
                        "type": "number"
                      },
                      "type": {
                        "enum": [
                          "ipsec",
                          "gre",
                          "vnet",
                          "wireguard"
                        ],
                        "type": "string"
                      },
                      "vrf": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "name",
                      "enabled",
                      "mtu"
                    ],
                    "type": "object"
                  },
                  "type": "array"
                },
                "vrfs": {
                  "items": {
                    "properties": {
                      "acls": {
                        "items": {
                          "properties": {
                            "action": {
                              "enum": [
                                "allow",
                                "drop",
                                "reject"
                              ],
                              "type": "string"
                            },
                            "description": {
                              "description": "ACL description",
                              "type": "string"
                            },
                            "dest": {
                              "description": "Destination IP CIDR",
                              "type": "string"
                            },
                            "line": {
                              "description": "Line number",
                              "maximum": 32768,
                              "minimum": 1,
                              "type": "number"
                            },
                            "ports": {
                              "description": "Port or port range",
                              "type": "string"
                            },
                            "protocol": {
                              "enum": [
                                "any",
                                "icmp",
                                "tcp",
                                "udp"
                              ],
                              "type": "string"
                            },
                            "source": {
                              "description": "Source IP CIDR",
                              "type": "string"
                            }
                          },
                          "required": [
                            "protocol",
                            "source",
                            "dest",
                            "action"
                          ],
                          "type": "object"
                        },
                        "type": "array"
                      },
                      "description": {
                        "description": "VRF description",
                        "type": "string"
                      },
                      "forwarding": {
                        "type": "boolean"
                      },
                      "name": {
                        "description": "VRF name",
                        "type": "string"
                      },
                      "nats": {
                        "items": {
                          "properties": {
                            "description": {
                              "description": "NAT description",
                              "type": "string"
                            },
                            "dest": {
                              "description": "NAT destination IP CIDR",
                              "type": "string"
                            },
                            "masquerade": {
                              "description": "Enable masquerade",
                              "type": "boolean"
                            },
                            "source": {
                              "description": "NAT source IP CIDR",
                              "type": "string"
                            },
                            "toDest": {
                              "description": "Translated dest IP CIDR",
                              "type": "string"
                            },
                            "toSource": {
                              "description": "Translated source IP CIDR",
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "type": "array"
                      },
                      "routes": {
                        "items": {
                          "properties": {
                            "description": {
                              "description": "Route description",
                              "example": "My route",
                              "type": "string"
                            },
                            "dest": {
                              "description": "Route CIDR",
                              "type": "string"
                            },
                            "dev": {
                              "description": "Device name",
                              "type": "string"
                            },
                            "metric": {
                              "description": "Route metric",
                              "maximum": 200,
                              "minimum": 1,
                              "type": "number"
                            },
                            "via": {
                              "description": "Next hop IP address",
                              "type": "string"
                            }
                          },
                          "required": [
                            "dest"
                          ],
                          "type": "object"
                        },
                        "type": "array"
                      },
                      "rules": {
                        "items": {
                          "properties": {
                            "action": {
                              "enum": [
                                "accept",
                                "drop",
                                "reject",
                                "forward",
                                "dnat"
                              ],
                              "type": "string"
                            },
                            "description": {
                              "description": "Rule description",
                              "type": "string"
                            },
                            "dest": {
                              "description": "Destination IP CIDR or `public` or `private`",
                              "type": "string"
                            },
                            "dmac": {
                              "description": "DNAT MAC address",
                              "type": "string"
                            },
                            "dnat": {
                              "description": "DNAT IP address",
                              "type": "string"
                            },
                            "iface": {
                              "description": "Interface name",
                              "type": "string"
                            },
                            "in": {
                              "type": "string"
                            },
                            "line": {
                              "description": "Rule number",
                              "maximum": 32768,
                              "minimum": 1,
                              "type": "number"
                            },
                            "ports": {
                              "description": "Port or port range",
                              "type": "string"
                            },
                            "protocol": {
                              "enum": [
                                "any",
                                "icmp",
                                "tcp",
                                "udp"
                              ],
                              "type": "string"
                            },
                            "snat": {
                              "description": "Enable SNAT",
                              "type": "boolean"
                            },
                            "source": {
                              "description": "Source IP CIDR or `public` or `private`",
                              "type": "string"
                            },
                            "vrf": {
                              "description": "VRF name",
                              "type": "string"
                            }
                          },
                          "required": [
                            "protocol",
                            "source",
                            "dest",
                            "action"
                          ],
                          "type": "object"
                        },
                        "type": "array"
                      }
                    },
                    "required": [
                      "name"
                    ],
                    "type": "object"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "422": {
            "description": "Validation error",
            "schema": {
              "$ref": "#/definitions/ValidationFailed"
            }
          }
        },
        "tags": [
          "Cluster"
        ]
      }
    },
    "/cluster/{clusterFQDN}/config/services": {
      "parameters": [
        {
          "$ref": "#/parameters/clusterFQDN"
        }
      ],
      "put": {
        "consumes": [
          "application/json"
        ],
        "description": "Update services configuration for a given cluster\n\n---\n\nNote: request body will be validated by JSON schema of the plugin\n",
        "parameters": [
          {
            "description": "Config body",
            "in": "body",
            "name": "config",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "422": {
            "description": "Validation error",
            "schema": {
              "$ref": "#/definitions/ValidationFailed"
            }
          }
        },
        "tags": [
          "Cluster"
        ]
      }
    },
    "/cluster/{clusterFQDN}/tag/{tagName}": {
      "delete": {
        "consumes": [
          "application/json"
        ],
        "description": "Delete a tag from a cluster",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Cluster"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/clusterFQDN"
        },
        {
          "description": "Tag name",
          "in": "path",
          "name": "tagName",
          "required": true,
          "type": "string"
        }
      ],
      "put": {
        "consumes": [
          "application/json"
        ],
        "description": "Set a tag on a cluster",
        "parameters": [
          {
            "in": "body",
            "name": "tag",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TagValueModel"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Cluster"
        ]
      }
    },
    "/domain/{domainName}": {
      "get": {
        "description": "Get domain details\n\n---\n\nRequires `domains::read` permission.",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "Domain",
              "properties": {
                "config": {
                  "description": "Domain configuration",
                  "type": "object"
                }
              },
              "type": "object"
            }
          },
          "404": {
            "description": "Not found"
          }
        },
        "tags": [
          "Domain"
        ]
      },
      "parameters": [
        {
          "description": "Domain name",
          "in": "path",
          "name": "domainName",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/domain/{domainName}/config/alert": {
      "parameters": [
        {
          "description": "Domain name",
          "in": "path",
          "name": "domainName",
          "required": true,
          "type": "string"
        }
      ],
      "put": {
        "consumes": [
          "application/json"
        ],
        "description": "Update alert configuration\n\n---\n\nRequires `domains::configure:thresholds` permission.",
        "parameters": [
          {
            "description": "Alert configuration",
            "in": "body",
            "name": "alert",
            "required": true,
            "schema": {
              "description": "Alert configuration",
              "type": "object"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "422": {
            "description": "Validation failed",
            "schema": {
              "description": "ValidationFailed",
              "items": {
                "description": "Validation failure",
                "type": "string"
              },
              "title": "ValidationFailed",
              "type": "array"
            }
          }
        },
        "tags": [
          "Domain"
        ]
      }
    },
    "/domain/{domainName}/config/apigw": {
      "parameters": [
        {
          "description": "Domain name",
          "in": "path",
          "name": "domainName",
          "required": true,
          "type": "string"
        }
      ],
      "put": {
        "consumes": [
          "application/json"
        ],
        "description": "Update API GW configuration\n\n---\n\nRequires `domains::configure:gateway` permission.",
        "parameters": [
          {
            "description": "APIGW configuration",
            "in": "body",
            "name": "apigw",
            "required": true,
            "schema": {
              "description": "APIGW configuration",
              "type": "object"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "422": {
            "description": "Validation failed",
            "schema": {
              "description": "ValidationFailed",
              "items": {
                "description": "Validation failure",
                "type": "string"
              },
              "title": "ValidationFailed",
              "type": "array"
            }
          }
        },
        "tags": [
          "Domain"
        ]
      }
    },
    "/node": {
      "get": {
        "description": "List nodes\n\n---\n\nRequires `nodes::read` permission.",
        "parameters": [
          {
            "description": "Comma-separated key:value pairs for tag filtering, e.g., location:Austin,device:Trustgrid",
            "in": "query",
            "name": "tags",
            "type": "string"
          },
          {
            "description": "List of fields to return from the API. Supports nested fields and anything in the Node schema",
            "in": "query",
            "name": "projection",
            "schema": {
              "example": [
                "uid",
                "[\"config\", \"apigw\", \"enabled\"]"
              ],
              "items": {
                "description": "projection",
                "type": "string"
              },
              "type": "array"
            },
            "type": "array"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "items": {
                "$ref": "#/definitions/Node"
              },
              "type": "array"
            }
          }
        },
        "tags": [
          "Node"
        ]
      }
    },
    "/node/license": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "description": "Get a license to register a node",
        "produces": [
          "text/plain"
        ],
        "responses": {
          "200": {
            "description": "License body",
            "schema": {
              "type": "string"
            }
          },
          "422": {
            "description": "Validation error",
            "schema": {
              "$ref": "#/definitions/ValidationFailed"
            }
          }
        },
        "tags": [
          "Node"
        ]
      },
      "parameters": [
        {
          "description": "node name",
          "in": "query",
          "name": "name",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/node/{nodeID}": {
      "delete": {
        "description": "Delete a node\n\n---\n\nRequires `nodes::delete` permission.",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "Node"
        ]
      },
      "get": {
        "description": "Get a node\n\n---\n\nRequires `nodes::read` permission.",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Node"
            }
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "Node"
        ]
      },
      "parameters": [
        {
          "description": "Node ID",
          "in": "path",
          "name": "nodeID",
          "required": true,
          "type": "string"
        }
      ],
      "put": {
        "consumes": [
          "application/json"
        ],
        "description": "Update a node\n\n---\n\nRequires `nodes::manage` permission.",
        "parameters": [
          {
            "description": "Node updates",
            "in": "body",
            "name": "updates",
            "schema": {
              "description": "Node updates",
              "properties": {
                "cluster": {
                  "description": "Cluster FQDN - requires `nodes::cluster` permission to modify",
                  "example": "mycluster.trustgrid.io",
                  "type": "string"
                },
                "state": {
                  "description": "Node state",
                  "enum": [
                    "ACTIVE",
                    "INACTIVE"
                  ],
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Node"
        ]
      }
    },
    "/node/{nodeID}/config/alert": {
      "parameters": [
        {
          "$ref": "#/parameters/nodeID"
        }
      ],
      "put": {
        "consumes": [
          "application/json"
        ],
        "description": "Update alert configuration for a given node\n\n---\n\nNote: request body will be validated by JSON schema of the plugin\n",
        "parameters": [
          {
            "description": "Config body",
            "in": "body",
            "name": "config",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Node"
        ]
      }
    },
    "/node/{nodeID}/config/cluster": {
      "parameters": [
        {
          "$ref": "#/parameters/nodeID"
        }
      ],
      "put": {
        "consumes": [
          "application/json"
        ],
        "description": "Update cluster configuration for a given node\n\n---\n\nNote: request body will be validated by JSON schema of the plugin\n",
        "parameters": [
          {
            "description": "Config body",
            "in": "body",
            "name": "config",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Node"
        ]
      }
    },
    "/node/{nodeID}/config/connectors": {
      "parameters": [
        {
          "$ref": "#/parameters/nodeID"
        }
      ],
      "put": {
        "consumes": [
          "application/json"
        ],
        "description": "Update connectors configuration for a given node\n\n---\n\nNote: request body will be validated by JSON schema of the plugin\n",
        "parameters": [
          {
            "description": "Config body",
            "in": "body",
            "name": "config",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Node"
        ]
      }
    },
    "/node/{nodeID}/config/core": {
      "parameters": [
        {
          "$ref": "#/parameters/nodeID"
        }
      ],
      "put": {
        "consumes": [
          "application/json"
        ],
        "description": "Update cluster configuration for a given node\n\n---\n\nNote: request body will be validated by JSON schema of the plugin\n",
        "parameters": [
          {
            "description": "Config body",
            "in": "body",
            "name": "config",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Node"
        ]
      }
    },
    "/node/{nodeID}/config/network": {
      "parameters": [
        {
          "$ref": "#/parameters/nodeID"
        }
      ],
      "put": {
        "consumes": [
          "application/json"
        ],
        "description": "Update network configuration for a given node\n\n---\n\nRequires `node::configure:network` permissions\n",
        "parameters": [
          {
            "description": "Network Config",
            "in": "body",
            "name": "config",
            "required": true,
            "schema": {
              "properties": {
                "acls": {
                  "items": {
                    "properties": {
                      "action": {
                        "enum": [
                          "allow",
                          "drop",
                          "reject"
                        ],
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "dest": {
                        "description": "Destination IP CIDR",
                        "type": "string"
                      },
                      "line": {
                        "description": "Line number",
                        "maximum": 32768,
                        "minimum": 1,
                        "type": "number"
                      },
                      "ports": {
                        "description": "Port or port range",
                        "type": "string"
                      },
                      "protocol": {
                        "enum": [
                          "any",
                          "icmp",
                          "tcp",
                          "udp"
                        ],
                        "type": "string"
                      },
                      "source": {
                        "description": "Source IP CIDR",
                        "type": "string"
                      }
                    },
                    "required": [
                      "protocol",
                      "source",
                      "dest",
                      "action"
                    ],
                    "type": "object"
                  },
                  "type": "array"
                },
                "darkMode": {
                  "type": "boolean"
                },
                "forwarding": {
                  "type": "boolean"
                },
                "interfaces": {
                  "items": {
                    "properties": {
                      "cloudRoutes": {
                        "items": {
                          "properties": {
                            "description": {
                              "description": "Route description",
                              "example": "My route",
                              "type": "string"
                            },
                            "route": {
                              "description": "Route CIDR",
                              "example": "192.168.10.0/24",
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "type": "array"
                      },
                      "clusterIP": {
                        "description": "Cluster IP",
                        "type": "string"
                      },
                      "clusterRouteTables": {
                        "items": {
                          "description": "Cluster route tables",
                          "type": "string"
                        },
                        "type": "array"
                      },
                      "clusterRoutes": {
                        "items": {
                          "description": "Cluster routes",
                          "properties": {
                            "description": {
                              "description": "Route description",
                              "example": "My route",
                              "type": "string"
                            },
                            "route": {
                              "description": "Route CIDR",
                              "example": "192.168.10.0/24",
                              "type": "string"
                            }
                          },
                          "required": [
                            "route"
                          ],
                          "type": "object"
                        },
                        "type": "array"
                      },
                      "description": {
                        "description": "Interface description",
                        "example": "My interface",
                        "type": "string"
                      },
                      "dhcp": {
                        "default": false,
                        "description": "Enable DHCP",
                        "example": false,
                        "type": "boolean"
                      },
                      "dhcpPool": {
                        "description": "DHCP pool",
                        "type": "string"
                      },
                      "dns": {
                        "items": {
                          "description": "DNS servers",
                          "type": "string"
                        },
                        "type": "array"
                      },
                      "duplex": {
                        "description": "Interface duplex",
                        "enum": [
                          "full",
                          "half"
                        ],
                        "type": "string"
                      },
                      "gateway": {
                        "description": "Gateway IP",
                        "type": "string"
                      },
                      "ip": {
                        "description": "Interface IP",
                        "type": "string"
                      },
                      "mode": {
                        "description": "Interface mode",
                        "enum": [
                          "auto",
                          "manual"
                        ],
                        "type": "string"
                      },
                      "mtu": {
                        "description": "MTU",
                        "example": 1500,
                        "maximum": 9001,
                        "minimum": 1300,
                        "type": "number"
                      },
                      "nic": {
                        "description": "Network interface name",
                        "example": "eth0",
                        "type": "string"
                      },
                      "routes": {
                        "items": {
                          "properties": {
                            "description": {
                              "description": "Route description",
                              "example": "My route",
                              "type": "string"
                            },
                            "next": {
                              "description": "Next hop",
                              "example": "192.168.10.10",
                              "type": "string"
                            },
                            "route": {
                              "description": "Route CIDR",
                              "example": "192.168.10.0/24",
                              "type": "string"
                            }
                          },
                          "required": [
                            "route"
                          ],
                          "type": "object"
                        },
                        "type": "array"
                      },
                      "speed": {
                        "description": "Interface speed",
                        "type": "number"
                      },
                      "subInterfaces": {
                        "items": {
                          "properties": {
                            "description": {
                              "description": "Interface description",
                              "example": "My interface",
                              "type": "string"
                            },
                            "ip": {
                              "description": "sub-interface IP",
                              "type": "string"
                            },
                            "routes": {
                              "items": {
                                "properties": {
                                  "description": {
                                    "description": "Route description",
                                    "example": "My route",
                                    "type": "string"
                                  },
                                  "next": {
                                    "description": "Next hop",
                                    "example": "192.168.10.10",
                                    "type": "string"
                                  },
                                  "route": {
                                    "description": "Route CIDR",
                                    "example": "192.168.10.0/24",
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "route"
                                ],
                                "type": "object"
                              },
                              "type": "array"
                            },
                            "vlanID": {
                              "default": 1,
                              "description": "VLAN ID",
                              "example": 1,
                              "maximum": 4094,
                              "minimum": 1,
                              "type": "number"
                            },
                            "vrf": {
                              "description": "VRF name",
                              "example": "default",
                              "type": "string"
                            }
                          },
                          "required": [
                            "vlanID",
                            "ip"
                          ],
                          "type": "object"
                        },
                        "type": "array"
                      },
                      "virtual": {
                        "default": false,
                        "description": "Whether the interface is virtual",
                        "example": false,
                        "type": "boolean"
                      },
                      "vrf": {
                        "description": "VRF name",
                        "example": "default",
                        "type": "string"
                      }
                    },
                    "required": [
                      "nic"
                    ],
                    "type": "object"
                  },
                  "type": "array"
                },
                "nats": {
                  "items": {
                    "properties": {
                      "description": {
                        "description": "NAT description",
                        "type": "string"
                      },
                      "dest": {
                        "description": "NAT destination IP CIDR",
                        "type": "string"
                      },
                      "masquerade": {
                        "type": "boolean"
                      },
                      "source": {
                        "description": "NAT source IP CIDR",
                        "type": "string"
                      },
                      "toDest": {
                        "description": "Translated dest IP CIDR",
                        "type": "string"
                      },
                      "toSource": {
                        "description": "Translated source IP CIDR",
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                },
                "routes": {
                  "items": {
                    "properties": {
                      "description": {
                        "type": "string"
                      },
                      "dest": {
                        "type": "string"
                      },
                      "dev": {
                        "type": "string"
                      },
                      "metric": {
                        "description": "Route metric",
                        "maximum": 200,
                        "minimum": 1,
                        "type": "number"
                      },
                      "via": {
                        "description": "Next hop IP address",
                        "type": "string"
                      }
                    },
                    "required": [
                      "dest"
                    ],
                    "type": "object"
                  },
                  "type": "array"
                },
                "rules": {
                  "items": {
                    "properties": {
                      "action": {
                        "enum": [
                          "accept",
                          "drop",
                          "reject",
                          "forward",
                          "dnat"
                        ],
                        "type": "string"
                      },
                      "description": {
                        "description": "Rule description",
                        "type": "string"
                      },
                      "dest": {
                        "description": "Destination IP CIDR or `public` or `private`",
                        "type": "string"
                      },
                      "dmac": {
                        "description": "DNAT MAC address",
                        "type": "string"
                      },
                      "dnat": {
                        "description": "DNAT IP address",
                        "type": "string"
                      },
                      "iface": {
                        "description": "Interface name",
                        "type": "string"
                      },
                      "in": {
                        "type": "string"
                      },
                      "line": {
                        "description": "Rule number",
                        "maximum": 32768,
                        "minimum": 1,
                        "type": "number"
                      },
                      "ports": {
                        "description": "Port or port range",
                        "type": "string"
                      },
                      "protocol": {
                        "enum": [
                          "any",
                          "icmp",
                          "tcp",
                          "udp"
                        ],
                        "type": "string"
                      },
                      "snat": {
                        "description": "Enable SNAT",
                        "type": "boolean"
                      },
                      "source": {
                        "description": "Source IP CIDR or `public` or `private`",
                        "type": "string"
                      },
                      "vrf": {
                        "description": "VRF name",
                        "type": "string"
                      }
                    },
                    "required": [
                      "protocol",
                      "source",
                      "dest",
                      "action"
                    ],
                    "type": "object"
                  },
                  "type": "array"
                },
                "tunnels": {
                  "items": {
                    "properties": {
                      "description": {
                        "type": "string"
                      },
                      "destination": {
                        "type": "string"
                      },
                      "dpdInterval": {
                        "type": "number"
                      },
                      "dpdRetries": {
                        "type": "number"
                      },
                      "enabled": {
                        "type": "boolean"
                      },
                      "ike": {
                        "enum": [
                          1,
                          2
                        ],
                        "type": "number"
                      },
                      "ikeCipher": {
                        "enum": [
                          "aes128-sha1",
                          "aes128-sha256",
                          "aes256-sha1",
                          "aes256-sha256"
                        ],
                        "type": "string"
                      },
                      "ikeGroup": {
                        "enum": [
                          2,
                          5,
                          14,
                          15,
                          16
                        ],
                        "type": "number"
                      },
                      "ip": {
                        "type": "string"
                      },
                      "ipsecCipher": {
                        "enum": [
                          "aes128-sha1",
                          "aes128-sha256",
                          "aes256-sha1",
                          "aes256-sha256"
                        ],
                        "type": "string"
                      },
                      "localId": {
                        "type": "string"
                      },
                      "mtu": {
                        "maximum": 10000,
                        "minimum": 1000,
                        "type": "number"
                      },
                      "name": {
                        "type": "string"
                      },
                      "networkId": {
                        "type": "string"
                      },
                      "pfs": {
                        "enum": [
                          0,
                          2,
                          5,
                          14,
                          15,
                          16
                        ],
                        "type": "number"
                      },
                      "presharedKey": {
                        "type": "string"
                      },
                      "psk": {
                        "type": "string"
                      },
                      "publicKey": {
                        "type": "string"
                      },
                      "rekeyInterval": {
                        "type": "number"
                      },
                      "remoteId": {
                        "type": "string"
                      },
                      "replayWindow": {
                        "enum": [
                          32,
                          64,
                          128,
                          256,
                          512,
                          1024,
                          2048,
                          4096,
                          8192
                        ],
                        "type": "number"
                      },
                      "type": {
                        "enum": [
                          "ipsec",
                          "gre",
                          "vnet",
                          "wireguard"
                        ],
                        "type": "string"
                      },
                      "vrf": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "name",
                      "enabled",
                      "mtu"
                    ],
                    "type": "object"
                  },
                  "type": "array"
                },
                "vrfs": {
                  "items": {
                    "properties": {
                      "acls": {
                        "items": {
                          "properties": {
                            "action": {
                              "enum": [
                                "allow",
                                "drop",
                                "reject"
                              ],
                              "type": "string"
                            },
                            "description": {
                              "description": "ACL description",
                              "type": "string"
                            },
                            "dest": {
                              "description": "Destination IP CIDR",
                              "type": "string"
                            },
                            "line": {
                              "description": "Line number",
                              "maximum": 32768,
                              "minimum": 1,
                              "type": "number"
                            },
                            "ports": {
                              "description": "Port or port range",
                              "type": "string"
                            },
                            "protocol": {
                              "enum": [
                                "any",
                                "icmp",
                                "tcp",
                                "udp"
                              ],
                              "type": "string"
                            },
                            "source": {
                              "description": "Source IP CIDR",
                              "type": "string"
                            }
                          },
                          "required": [
                            "protocol",
                            "source",
                            "dest",
                            "action"
                          ],
                          "type": "object"
                        },
                        "type": "array"
                      },
                      "description": {
                        "description": "VRF description",
                        "type": "string"
                      },
                      "forwarding": {
                        "type": "boolean"
                      },
                      "name": {
                        "description": "VRF name",
                        "type": "string"
                      },
                      "nats": {
                        "items": {
                          "properties": {
                            "description": {
                              "description": "NAT description",
                              "type": "string"
                            },
                            "dest": {
                              "description": "NAT destination IP CIDR",
                              "type": "string"
                            },
                            "masquerade": {
                              "description": "Enable masquerade",
                              "type": "boolean"
                            },
                            "source": {
                              "description": "NAT source IP CIDR",
                              "type": "string"
                            },
                            "toDest": {
                              "description": "Translated dest IP CIDR",
                              "type": "string"
                            },
                            "toSource": {
                              "description": "Translated source IP CIDR",
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "type": "array"
                      },
                      "routes": {
                        "items": {
                          "properties": {
                            "description": {
                              "description": "Route description",
                              "example": "My route",
                              "type": "string"
                            },
                            "dest": {
                              "description": "Route CIDR",
                              "type": "string"
                            },
                            "dev": {
                              "description": "Device name",
                              "type": "string"
                            },
                            "metric": {
                              "description": "Route metric",
                              "maximum": 200,
                              "minimum": 1,
                              "type": "number"
                            },
                            "via": {
                              "description": "Next hop IP address",
                              "type": "string"
                            }
                          },
                          "required": [
                            "dest"
                          ],
                          "type": "object"
                        },
                        "type": "array"
                      },
                      "rules": {
                        "items": {
                          "properties": {
                            "action": {
                              "enum": [
                                "accept",
                                "drop",
                                "reject",
                                "forward",
                                "dnat"
                              ],
                              "type": "string"
                            },
                            "description": {
                              "description": "Rule description",
                              "type": "string"
                            },
                            "dest": {
                              "description": "Destination IP CIDR or `public` or `private`",
                              "type": "string"
                            },
                            "dmac": {
                              "description": "DNAT MAC address",
                              "type": "string"
                            },
                            "dnat": {
                              "description": "DNAT IP address",
                              "type": "string"
                            },
                            "iface": {
                              "description": "Interface name",
                              "type": "string"
                            },
                            "in": {
                              "type": "string"
                            },
                            "line": {
                              "description": "Rule number",
                              "maximum": 32768,
                              "minimum": 1,
                              "type": "number"
                            },
                            "ports": {
                              "description": "Port or port range",
                              "type": "string"
                            },
                            "protocol": {
                              "enum": [
                                "any",
                                "icmp",
                                "tcp",
                                "udp"
                              ],
                              "type": "string"
                            },
                            "snat": {
                              "description": "Enable SNAT",
                              "type": "boolean"
                            },
                            "source": {
                              "description": "Source IP CIDR or `public` or `private`",
                              "type": "string"
                            },
                            "vrf": {
                              "description": "VRF name",
                              "type": "string"
                            }
                          },
                          "required": [
                            "protocol",
                            "source",
                            "dest",
                            "action"
                          ],
                          "type": "object"
                        },
                        "type": "array"
                      }
                    },
                    "required": [
                      "name"
                    ],
                    "type": "object"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Node"
        ]
      }
    },
    "/node/{nodeID}/config/services": {
      "parameters": [
        {
          "$ref": "#/parameters/nodeID"
        }
      ],
      "put": {
        "consumes": [
          "application/json"
        ],
        "description": "Update services configuration for a given node\n\n---\n\nNote: request body will be validated by JSON schema of the plugin\n",
        "parameters": [
          {
            "description": "Config body",
            "in": "body",
            "name": "config",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Node"
        ]
      }
    },
    "/node/{nodeID}/config/snmp": {
      "parameters": [
        {
          "$ref": "#/parameters/nodeID"
        }
      ],
      "put": {
        "consumes": [
          "application/json"
        ],
        "description": "Update SNMP configuration for a given node\n\n---\n\nNote: request body will be validated by JSON schema of the plugin\n",
        "parameters": [
          {
            "description": "Config body",
            "in": "body",
            "name": "config",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Node"
        ]
      }
    },
    "/node/{nodeID}/config/ztnagw": {
      "parameters": [
        {
          "$ref": "#/parameters/nodeID"
        }
      ],
      "put": {
        "consumes": [
          "application/json"
        ],
        "description": "Update ZTNA gateway configuration for a given node\n\nNote that this endpoint used to be `apigw`. The config section is still named `apigw`.\n---\n\n\"WireGuard\" is a registered trademark of Jason A. Donenfeld.\n",
        "parameters": [
          {
            "in": "body",
            "name": "ZTNA config",
            "schema": {
              "example": {
                "cert": "myztnahost.mycompany.com",
                "enabled": true,
                "host": "myztnahost.mycompany.com",
                "port": 9927,
                "wireguardEnabled": true,
                "wireguardEndpoint": "myztnahost.mycompany.com",
                "wireguardPort": 9926
              },
              "properties": {
                "cert": {
                  "description": "ZTNA gateway certificate (FQDN)",
                  "type": "string"
                },
                "enabled": {
                  "description": "Enable this plugin",
                  "type": "boolean"
                },
                "host": {
                  "description": "ZTNA gateway host",
                  "type": "string"
                },
                "port": {
                  "description": "ZTNA gateway port",
                  "maximum": 65535,
                  "minimum": 1,
                  "type": "number"
                },
                "wireguardEnabled": {
                  "description": "Enable wireguard",
                  "type": "boolean"
                },
                "wireguardEndpoint": {
                  "description": "WireGuard endpoint",
                  "format": "hostname",
                  "type": "string"
                },
                "wireguardPort": {
                  "description": "WireGuard port",
                  "maximum": 65535,
                  "minimum": 1,
                  "type": "number"
                }
              },
              "type": "object"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Node"
        ]
      }
    },
    "/node/{nodeID}/gateway": {
      "parameters": [
        {
          "description": "Node ID",
          "in": "path",
          "name": "nodeID",
          "required": true,
          "type": "string"
        }
      ],
      "put": {
        "consumes": [
          "application/json"
        ],
        "description": "Update gateway configuration\n\n---\n\nRequires `nodes::configure:gateway` permission.",
        "parameters": [
          {
            "description": "Gateway config",
            "in": "body",
            "name": "config",
            "schema": {
              "description": "Gateway config",
              "properties": {
                "cert": {
                  "description": "Certificate",
                  "example": "mygateway.trustgrid.io",
                  "type": "string"
                },
                "connectToPublic": {
                  "description": "Connect to public",
                  "type": "boolean"
                },
                "enabled": {
                  "description": "Enable gateway plugin",
                  "type": "boolean"
                },
                "host": {
                  "description": "Hostname of the gateway",
                  "example": "mygateway.trustgrid.io",
                  "type": "string"
                },
                "maxClientWriteMbps": {
[...]
